<div class="m-5 animate__animated animate__fadeIn">
    <h2 class="text-center whiteText">Search you favorite character</h2>
</div>

<div class="row animate__animated animate_fadeIn">
    <div class="col mr-5 ml-5">
        <input #query type="text" (keyup)="searchCharacter(query.value)" class="form-control" placeholder="Search character">
    </div>
</div>

<div class="container mt-3">
    <div class="alert alert-warning" role="alert" *ngIf="notFound">
      <h4 class="alert-heading">Error 404</h4>
      <p>There's nothing called {{ query.value }}</p>
      <hr>
      <p class="mb-0">Probably here's the thing you were searching</p>
    </div>
</div>

<app-load *ngIf="loading"></app-load>

<div class="container">
    <div class="card-columns m-5" *ngIf="!loading">
        <div class="card puntero animate__animated animate__bounceIn" *ngFor="let characters of charactersList">
          <img [src]="characters.image" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">{{ characters.name }}</h5>
            <small class="card-text">Status: </small>
            <span [ngSwitch]="characters.status">
                <span *ngSwitchCase="'Alive'" class="badge badge-pill badge-success">{{ characters.status }}</span>
                <span *ngSwitchCase="'Dead'" class="badge badge-pill badge-danger">{{ characters.status }}</span>
                <span *ngSwitchCase="'unknown'" class="badge badge-pill badge-secondary">{{ characters.status }}</span>
            <p *ngSwitchDefault>    
            </span>
            <br>
            <small class="card-text" >Gender: </small>
            <span [ngSwitch]="characters.gender">
                    <span *ngSwitchCase="'Male'">{{ characters.gender }}</span>
                    <span *ngSwitchCase="'Female'">{{ characters.gender }}</span>
                    <span *ngSwitchCase="'unknown'">{{ characters.gender }}</span>
            </span>
          </div>
        </div>
    </div>
</div>
