<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <p class="lead text-center">Error 404 - page not found</p>
          <h1 class="display-4 text-center">Are you lost?</h1>
          <p class="lead text-center">Let us help you to bring you back to home</p>
          <button routerLink="/home" class="center btn btn-outline-primary">Take me back!</button>
          <img class="center float mt-5" style="width: 300px; height: 400px;" src="assets/not-found.png">
        </div>
    </div>
</div>

