body{
    background-image: url('assets/background.png');
    background-size: 1300px;
}

.puntero {
    cursor: pointer;
}

.float {
    animation: floating 5s infinite ease-in-out;
}

@keyframes floating {
    50%{
        transform: translateY(-35px);
    }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


.whiteText {
    color: white;
}

.example-list {
    width: 300px;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    margin-left: 50px;
  }

  .example-box {
    padding: 10px 5px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }

.imgIc {
    border-radius: 4px;
    padding: 1px;
    width: 100px;
}