body{
    background-image: url('assets/background.png');
    background-size: 1300px;
}

.puntero {
    cursor: pointer;
}

.float {
    animation: floating 5s infinite ease-in-out;
}

@keyframes floating {
    50%{
        transform: translateY(-35px);
    }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
